.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 300px;
    border: 2px solid black;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-image {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.product-title,
.product-description,
.product-prefix,
.product-brand,
.product-price {
    margin: 0;
}
.filter-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.filter-select {
    padding: 8px;
}
